<ion-tabs>
  <!-- Tab para mostrar usuarios -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="users">
      <ion-icon name="people"></ion-icon>
      <ion-label>Usuarios</ion-label>
    </ion-tab-button>

    <!-- Tab para agregar usuario -->
    <ion-tab-button tab="add-user">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Agregar</ion-label>
    </ion-tab-button>

    <!-- Tab para editar usuario -->
    <ion-tab-button tab="edit-user">
      <ion-icon name="create"></ion-icon>
      <ion-label>Editar</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
