<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="home-container">
    <img src="assets/logo.png" alt="Bienvenido" class="welcome-image" />

    <h2>¡Holaaaaaa!!!!</h2>
    <p>Bienvenido a nuestra aplicación.</p>

    <ion-button expand="full" color="primary" (click)="goToTabs()">Ir a Tabs</ion-button>

    <ion-button routerLink="/profile">Ver Mi Perfil</ion-button>


    <ion-button expand="full" color="danger" (click)="logout()">Cerrar Sesión</ion-button>
  </div>
</ion-content>
